
body {
    background-color: black;
    background-image: url('Images/WestminsterAssembly.jpg');
    background-size: 100%;
    padding:5%;
    font-family: 'Raleway';
    }
 
    a:hover {color: #331302; }
    a {color: #732B05;}

    button {
               display:block;
               float:right;
               width:20%;
               margin: auto;
               padding: 10px;
               background:#F4E6D6;
               border-radius: 6px;
               -webkit-border-radius: 6px;
               -moz-border-radius: 6px;
            border:0;
            color: #732B05;
               
           }
    button:active {
               background-color: #BEBDC1;}
    button:hover {background-color: #BEBDC1;
                color:#331302;
                }
    .box {background: #F4E6D6;
                 border: 0px dotted lightgoldenrodyellow;
               
                }
     .box:hover {background: #BEBDC1;
                }
     .box:active {background: #BEBDC1;
                }
     .box:hover a {color:#331302;}
     .box:active a {color:#331302;}
      .box ul {
                background:#F4E6D6;
                padding:10px;
                list-style: none;
                z-index: 100;
                position: relative;
                text-align: left;
                display: none;
                margin-top: 0;
            }

            .box:hover ul {
                display: block;
            }

             .box:hover {background: #BEBDC1;
                }
     .home:active {background: #BEBDC1;
                }
     .home:hover {background: #BEBDC1;}
     .home:hover a {color:#331302;}
     .home:active a {color:#331302;}
     .next:active {background: #BEBDC1;
                }
     .next:hover {background: #BEBDC1;}
     .next:hover a {color:#331302;}
     .next:active a {color:#331302;}
      



h3 {color:#A51C04}

.chart {color:#590F02}

.qu {color:rgb(217,55,32)}





