
body {
    background-color: black;
    background-image: url('WestminsterAssembly.jpg');
    background-size: 100%;
    padding:5%;
    font-family: 'Segoe UI';
    }


h3 {color:#A51C04}

.chart {color:#590F02}

.qu {color:rgb(217,55,32)}

.qu-dad ul { color:rgb(217,55,32) }

.qu-dad li {color:#590F02}


