
body {
    background-color: black;
    background-image: url('WestminsterAssembly.jpg');
    background-size: 100%;
    padding:5%;
    font-family: 'Segoe UI';
    }


h3 {color: rgb(244,230,214)}

.chart {color:#F3BEB5}

.qu {color:#C0ABAA}


