
body {
    background-color: black;
    background-image: url('WestminsterAssembly.jpg');
    background-size: 100%;
    padding:5%;
    font-family: 'Segoe UI';
    }
#title {opacity: 0.3

}


#title:hover {
    opacity: 1;
}
